udd:
  build: jenkins
  privileged: true
  ports:
   - "8080:8080"
  links:
   - registry:registry
   - docker:docker

docker:
  build: docker
  privileged: true
  ports:
   - "14243:4243"
  links:
   - registry:registry

registry:
  image: registry:2
  ports:
   - "5000:5000"
  environment:
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
  volumes:
    - ~/.registry-data:/var/lib/registry
